h1 , p , a, h3 {
    text-align: center;
    color:white;
}

a, b, p, h1, h3, th, td, textarea {
    font-family: 'Bahnschrift';
}

details {
    color:white;
    padding-bottom: 1%;
}

body {
    background-color: #242424;
}

td , th {
    color: #ffffff;
}
th:nth-child(even) {
    background-color: #363636;
}

textarea {
    width: 20vw;
    padding-top: 2%;
    resize: none;
    text-align: center;
}

.copy_from {
    background-color: #363636;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 22vw;
    margin-left: 25%;
    margin-right: 25%;
}

.copy_from:hover {
    background-color: #484848;
    outline: solid #969696 1px;
}

.centered-div {
    display: flex;
    justify-content: center;
}

.no-bullet {
    background-color: #333;
    overflow: hidden;
}

.no-bullet a {
    
    background-color: #484848;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.no-bullet-a:hover {
    background-color: #ddd;
    color: black;
}

.r-spacer {
     padding-right: 2vw;
}