{% extends "default.html" %}

{% block title %}
Videos
{% endblock %}

{% block c_content %}
<form action="/all_videos">
    <input id="searcher" type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search">SUBMIT</i></button>
</form>

<table>
    <tr>
        <th style="background-color:#242424;">Episode Number</th>
        <th style="background-color:#242424;">Stats</th>
        <th style="background-color:#242424;">Thumbnail</th>
        <th style="background-color:#242424;">Paths</th>
    </tr>
    __VIDEOS_GO_HERE__
</table>
{% endblock %}

{% block scripts %}
<script src="../static/all_videos.js"></script>
{% endblock %}