<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRI Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta http-equiv="refresh" content="1" />
</head>
<body>
    <p align="center"><img class="centered_image" src="../icons/icon.ico"/></p>
    <h1>Welcome to JRI!</h1>
    <p>This Application is currently in Alpha some functions may not work properly, can cause crashes or data loss!</p>
    <a href="/all_videos">To your videos</a>
    <iframe src="../icons/icon.ico"></iframe>
</body>
</html>