{% extends "default.html" %}

{% block title %}
Create a Lets Play
{% endblock %}

{% block c_content %}
<form action="/create">
    <table>
        <tr>
            <td>name: </td>
            <td><input id="searcher" type="text" placeholder="name"><br></td>
        </tr>
        <tr>
            <td>icon path: </td>
            <td><input id="searcher" type="text" placeholder="icon_path"><br></td>
        </tr>
        <tr>
            <td>game name: </td>
            <td><input id="searcher" type="text" placeholder="gameName"><br></td>
        </tr>
        <tr>
            <td>title ending: </td>
            <td><input id="searcher" type="text" placeholder="titleEnding"><br></td>
        </tr>
        <tr>
            <td>ep len in minutes: </td>
            <td><input type="searcher" min="10" max="60" value="15" class="slider" id="myRange"><br></td>
        </tr>
    </table>
    <button type="submit"><i>SUBMIT</i></button>
</form>
{% endblock %}