<h4># __EPISODE_NUMBER__</h4>

<table>
    <tr>
        <th>Stat</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>video exists</td>
        <td>__EP_VIDEO_EXISTS__</td>
    </tr>
    <tr>
        <td>audio track 1 exists</td>
        <td>__EP_TRACK_1_EXISTS__</td>
    </tr>
    <tr>
        <td>audio track 2 exists</td>
        <td>__EP_TRACK_2_EXISTS__</td>
    </tr>
    <tr>
        <td>title</td>
        <td>__EP_TITLE__</td>
    </tr>
    <tr>
        <td>video file size</td>
        <td>__EP_VIDEO_FILE_SIZE__</td>
    </tr>
    <tr>
        <td>video length</td>
        <td>__EP_VIDEO_LENGTH__</td>
    </tr>
    <tr>
        <td>markers</td>
        <td>__EP_MARKER_COUNT__</td>
    </tr>
    <tr>
        <td>thumbnail frame</td>
        <td> __EP_THUMBNAIL_FRAME__</td>
    </tr>
</table>

<details align="center">
    <summary>Stats</summary>
    __EP_STATS__
  </details>
  
  <details align="center">
    <summary>Video, Audio & Thumbnail</summary>
      
      <video src="__VIDEO_PATH__" width="__WIDTH__" height="__HEIGHT__" controls />
      <audio src="__AUDIO_TRACK_1_PATH__" controls />
      <audio src="__AUDIO_TRACK_2_PATH__" controls />
  
  </details>