{% extends "default.html" %}

{% block title %}
Thumbnail Generator
{% endblock %}

{% block c_content %}

<img src="../static/img/temps/thumbnail_generator_tmp.png">
<form action="/thumbnail-generator">
    <table>
        <tr><td><h2>lets play</h2></td></tr>
        <tr>
            <td>Lets Play: </td>
            <td>
                <select name="lp">
                    {% for lp in lps %}
                    <option value="{{lp.hash}}">{{lp.name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr><td><h2>Text</h2></td></tr>
        <tr>
            <td>Position: </td>
            <td><input type="number" placeholder="X" name="px"><input type="number" placeholder="Y" name="py"><br></td>
        </tr>
        <tr>
            <td>Font: </td>
            <td><input type="file" accept=".ttf"  name="text_font"><br></td>
        </tr>
        <tr>
            <td>Align: </td>
            <td>
                <select name="text_align" >
                    <option value="align_center">center</option>
                    <option value="align_left">left</option>
                    <option value="align_right">right</option>
                </select>
                <br></td>
        </tr>

        <tr>
            <td>Size: </td>
            <td><input name="font_s" type="number" placeholder="size"><br></td>
        </tr>

        <tr>
            <td>Rotation: </td>
            <td><input name="text_r" type="number" placeholder="R"><br></td>
        </tr>
        
        <tr><td><h2>Logo</h2></td></tr>

        <tr>
            <td>Path </td>
            <td><input name="logo_path" type="file" accept=".png"><br></td>
        </tr>

        <tr>
            <td>Scale: </td>
            <td><input name="logo_s" type="number" placeholder="R"><br></td>
        </tr>

        <tr>
            <td>Rotation: </td>
            <td><input name="logo_r" type="number" placeholder="R"><br></td>
        </tr>

        <tr>
            <td>Position: </td>
            <td><input name="logo_x" type="number" placeholder="X"><input name="logo_y" type="number" placeholder="Y"><br></td>
        </tr>
        <tr>
            <td>Align: </td>
            <td>
                <select name="logo_align" name="">
                    <option value="align_center">center</option>
                    <option value="align_left">left</option>
                    <option value="align_right">right</option>
                </select>
                <br></td>
        </tr>

        <tr><td><h2>Background</h2></td></tr>
        <tr>
            <td>Position: </td>
            <td><input name="p_x" type="number" placeholder="X"><input name="p_y" type="number" placeholder="Y"><br></td>
        </tr>
        <tr>
            <td>Random position: </td>
            <td><input name="rp_x" type="number" placeholder="X"><input name="rp_y" type="number" placeholder="Y"><br></td>
        </tr>
        <tr>
            <td>Rotation: </td>
            <td><input name="r" type="number" placeholder="ROT"><br></td>
        </tr>
        <tr>
            <td>Random rotation: </td>
            <td><input name="rr_x" type="number" placeholder="X"><input name="rr_y" type="number" placeholder="Y"><br></td>
        </tr>

        <tr>
            <td>Scale: </td>
            <td><input name="s" type="number" placeholder="S"><br></td>
        </tr>

        <tr>
            <td>Random Scale: </td>
            <td><input name="rs_x" type="number" placeholder="X"><input name="rs_y" type="number" placeholder="Y"><br></td>
        </tr>

        <tr>
            <td>Random Scale: </td>
            <td><input name="hue" type="number" placeholder="H"><input name="sat" type="number" placeholder="S"><input name="lig" type="number" placeholder="V"><br></td>
        </tr>

        <tr>
            <td>Center: </td>
            <td><input name="center" type="checkbox" ><br></td>
        </tr>

        <tr>
            <td>Image: </td>
            <td>
                <input name="background" type="file" size="50" accept=".png"> 
            </td>
        </tr>

    </table>
    <button type="submit"><i>SUBMIT</i></button>
</form>
{% endblock %}
